@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto/Roboto-Regular.ttf);
    font-weight: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url(font-face/Roboto/Roboto-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto/Roboto-LightItalic.ttf);
    font-weight: light;
    font-style: italic;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 0.75vh 1.25vw;
    font-family: 'Roboto', sans-serif;
}

.hero {
    background-color: #1f2937;
    padding: 1vh 10vw;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    font-size: 24px;
    color: #f9faf8;
    text-decoration: none;
}

.nav-links {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 7vw;
}

.nav-links a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

.welcome-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5vh 10vw;
}

.welcome-box-item {
    width: 100vw;
    justify-content: center;
}

.welcome-box-item h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
}

.welcome-box-item p {
    font-size: 18px;
    color: #e5e7eb;
}

.welcome-box-item button {
    padding: 5px 30px;
    border: none;
    margin: 7.5px 0;
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 18px;
    text-decoration: none;
    border-radius: 5px;
}

.information-title {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1f2937;
    text-align: center;
    padding: 2vh 0;
}

.information-items {
    display: flex;
    justify-content: space-between;
    padding: 0vh 17.5vw;
    padding-bottom: 6vh;
    list-style: none;
}

.information-item img {
    width: 100px;
    height: 100px;
}

.review {
    background-color: #e5e7eb;
    padding: 5vh 10vw;
}

.review-text {
    color: #1f2937;
    font-size: 36px;
    font-weight: light;
    font-style: italic;
}

.review-signature {
    display: flex;
    justify-content: end;
    font-weight: bold;
}

.action-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882f6;
    margin: 5vh 10vw;
    padding: 3.5vh 10vw;
    border-radius: 10px;
}

.action-caption {
    max-width: 75%;
    margin: auto;
}

.action-caption h1 {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

.action-caption p {
    font-size: 18px;
    color: #e5e7eb;
}

.action-button {
    padding: 7px 30px;
    margin: 7.5px 0;
    background-color: #3882f6;
    border-width: 3px;
    border-color: #f9faf8;
    border-radius: 10px;
    border-style: solid;
    color: #f9faf8;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #e5e7eb;
}

.footer a {
    color: #e5e7eb;
    text-decoration: none;
}