@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto/Roboto-Regular.ttf);
    font-weight: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url(font-face/Roboto/Roboto-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto/Roboto-LightItalic.ttf);
    font-weight: light;
    font-style: italic;
}

:root {
    --debug-border: 2px solid red;
}

/* There's a weird bug I can't place, where the size of the header
on the index page is somehow different from the other pages, even though the code
looks the exact same. But this display glitch isn't happening when I open the site
on inspect element, so I've got no idea. -Ibrahim */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.hero {
    background-color: #1f2937;
    padding: 1vh 10vw;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: auto;
}

.nav-logo a {
    font-size: 24px;
    color: #f9faf8;
    text-decoration: none;
}

.nav-links {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 7vw;
}

.nav-links a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

.welcome-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5vh 10vw;
}

.welcome-box-item {
    width: 100vw;
    justify-content: center;
}

.welcome-box-item img {
    border-radius: 10px;
    height: 80%;
    width: 90%;
    padding-left: 5vw;
}

.welcome-box-item h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
}

.welcome-box-item p {
    font-size: 18px;
    color: #e5e7eb;
}

.welcome-box-item button {
    padding: 5px 30px;
    border: none;
    margin: 7.5px 0;
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 18px;
    text-decoration: none;
    border-radius: 5px;
}

.information h2 {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1f2937;
    text-align: center;
    padding: 2vw 0;
}

.information-items-container {
    display: flex;
    justify-content: space-between;
    padding: 0 7vw;
    padding-bottom: 6vh;
    list-style: none;
}

.information-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.information-item img {
    border: 5px solid #3882f6;
    border-radius: 10px;
    width: 12vw;
    height: 12vw;
}

.information-item figcaption {
    width: 150px;
    text-align: center;
}

.review {
    background-color: #e5e7eb;
    padding: 5vh 10vw;
}

.review-text {
    color: #1f2937;
    font-size: 36px;
    font-weight: light;
    font-style: italic;
}

.review-signature {
    display: flex;
    justify-content: end;
    font-weight: bold;
}

.action-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882f6;
    margin: 5vh 10vw;
    padding: 3.5vh 10vw;
    border-radius: 10px;
}

.action-caption {
    max-width: 75%;
    padding-right: 2vw;
    margin: auto;
}

.action-caption h3 {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

.action-caption p {
    font-size: 18px;
    color: #e5e7eb;
}

.action-button {
    padding: 7px 30px;
    margin: 7.5px 0;
    background-color: #3882f6;
    border-width: 3px;
    border-color: #f9faf8;
    border-radius: 10px;
    border-style: solid;
    color: #f9faf8;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

.footer {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: auto;
    color: #e5e7eb;
}

.back-to-top a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    gap: 5px;
    color: #e5e7eb;
    text-decoration: none;
}

.back-to-top img {
    margin-top: 2%;
    height: 75%;
    width: 75%;
}

.signup-form {
    margin: 5vh 30vw;
    padding: 3.5vh 25px;
    background-color: #e5e7eb;
    border-radius: 10px;
}

.signup-form form {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.signup-form label {
    font-size: 18px;
    color: #1f2937;
}

.signup-form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.signup-form button {
    padding: 10px 20px;
    border: none;
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.signup-form button:hover {
    background-color: #2a69d1;
}

.recipes-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
    justify-items: center;
    padding: 15px;
}

.recipe-item {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    max-width: 300px;
    margin: 15px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    background-color: #f9faf8;
}

.recipe-item h2 {
    font-size: 20px;
    color: #1f2937;
    margin: 10px 0;
}

.recipe-item p {
    font-size: 14px;
    color: #4b5563;
    margin-bottom: 10px;
}

.recipe-button {
    padding: 8px 16px;
    background-color: #3882f6;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.recipe-button:hover {
    background-color: #2a69d1;
}

@media (max-width: 600px){
    .recipes-container {
        grid-template-columns: 1fr 1fr;
    }

    .recipe-item {
        width: 100%;
        height: 100%;
        padding: 10px;
        margin: 0;
    }

    .signup-form {
        margin: 5vh 10vw;
        padding: 3.5vh 20px;
    }
}